@charset "UTF-8";

/*
    Paleta de cores:

    Vermelho: #E1285B
    Branco: #DDD7D2
    Azul: #32D4E0

    * {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, #E1285B, #DDD7D2, #32D4E0);
    background-size: contain;

}

main {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body, html {
        background-image: linear-gradient(to right, #E1285B, #DDD7D2, #32D4E0);
    }

    section#login {
        width: 90vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#login {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body, html {
        background-image: linear-gradient(to right, #E1285B, #DDD7D2, #32D4E0);
    }

    section#login {
        width: 990px
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#login {
        float: right;
        width: 50%;
    }
}