@charset "UTF-8";

/*
    Paleta de cores:

    Vermelho: #E1285B
    Branco: #DDD7D2
    Azul: #32D4E0
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body, html {
        background-image: linear-gradient(to right, #E1285B, #DDD7D2, #32D4E0);
    }

    section#login {
        width: 90vw;
        height: 300px;
    }

    section#login > div#imagem {
        float: right;
        width: 30%;
        height: 100%;
    }

    section#login > div#login {
        float: left;
        width: 70%;
    }

    div.campo > input {
    background-color: #eb6289;
    font-size: 2em;
    width:calc(100% -46px);
    transform: translateY(-7px);
    height: 100%;
    border: 0px;
    border-radius: 10px;
}
}

@media screen and (min-width: 992px) {
    body, html {
        background-image: linear-gradient(to right, #E1285B, #DDD7D2, #32D4E0);
    }

    section#login {
        width: 990px
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#login {
        float: right;
        width: 50%;
        font-size: 1.2em;
    }

    div.campo > input {
    background-color: #eb6289;
    font-size: 2em;
    width:calc(100% -46px);
    transform: translateY(-10px);
    height: 100%;
    border: 0px;
    border-radius: 10px;
}
}